<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Информация</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
<a class="navbar-brand" href="{% url 'user_logout' %}"><font color="#E1857B">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd"
                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
        </svg>
        Выйти</font><span
            class="sr-only"></span></a>
</nav>
<div class="container">
{% for item in model %}

{{ form.non_field_errors }}
<br>
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if item.avatar %}
                            <img src="{{ item.avatar.url }}" alt="" width="275" height="183"/>
                            {% else %}
                                <img src="/photos/user.png" width="275" height="183">
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ item.username }}
                                    </h5>
                                    <h6>
                                        {{ item.description }}
                                    </h6>
                            <br>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Информация о пользователе</a>

                                </li>
                                <!--<li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>-->
                        </div>
                    </div>
                    {% if request.user.id == item.id %}
                    <div class="col-md-2">
                        <!--<a class="btn btn-dark" href="/edit_profile/{{ request.user.id }}">Редактировать профиль</a>-->
                        <!-- Button trigger modal -->
                        <!--<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#staticBackdrop">
                            Редактировать профиль
                        </button>-->
                        <a class="btn btn-dark" href="/edit_profile/{{ request.user.id }}">Редактировать профиль</a>

                        <!-- Modal -->
                        <form method="post" enctype="multipart/form-data" class="post-form">
                            {% csrf_token %}
                            <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> <!--data-backdrop="static" data-keyboard="false"-->
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Редактирование профиля</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!--Имя Пользователя:
                                            <input class="form-control" type="text" name="username"
                                                   placeholder="{{ item.username }}">
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Описание:</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="{{ item.description }}"
                                                          rows="5"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1">Аватар:</label>
                                                <input type="file" class="form-control-file" name="avatar"
                                                       id="exampleFormControlFile1">
                                            </div>-->
{{ form.non_field_errors }}
                                            {{ form.as_p }}




                                        </div>
                                        <div class="modal-footer">
                                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->
                                            <button class="btn btn-primary" type="submit">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
            </form>
    {% endif %}

                </div>

                <div class="row">
                    <div class="col-md-4" >
                        <div class="profile-work">

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent" style="margin-top:-40px">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        {{ item.information }}
                            </div>


                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>














{% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>